  .bonus {
    background-color: #f7f8fa;
  }
    .bonus__title {
      font-family: 'Roboto Slab', serif;
      color:  #292929;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      padding: 119px 10px 0;
      margin-bottom: 21px
    }
    .bonus__description {
      font-family: 'Open Sans', sans-serif;
      color:  #9fa3a7;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      margin: 0 auto 75px;
      padding: 0 15px
    }
    .bonus__slider {
      width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      outline: none;
      padding: 0 98px
    }
    .bonus__slides {
      margin: 0 40px
    }
    .bonus__min_slider {
      width: 439px;
      border: 2px solid #fec730;
    }
      .bonus__slider_btn {
        width: 45px;
        border: 3px solid #ffc80a;
        border-radius: 50%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .bonus__slider_img {
        width: 701px;
        display: none;
        margin-bottom: 40px;
      }
      .bonus__slide_img {
        width: 320px;
        height: 441px;
        cursor: pointer;
      }
      .bonus__slide_img img{
        width: 100%;
        height: 100%  ;
      }
      .bonus__small_btns {
        display: flex;
        justify-content: center;
        margin: -6px 0 0;
        padding-bottom: 30px;
        display: none;
      }
      .bonus__small_left,
      .bonus__small_right {
        margin: 0 10px;
        border: 3px solid #fec730;;
        padding: 5px;
        border-radius: 50%
      }

      .slider__img_left {
        width: 439px;
        border: 2px solid #fec730;
        background-color: #fff;
      }

        .slider__img_info {
          font-family: 'Open Sans', sans-serif;
          color:  #9fa3a7;
          font-size: 15.99px;
          font-weight: 400;
          margin: 80px 0 39px;
          text-align: center;
        }
        .slider__img_title {
          font-family: 'Roboto Slab', serif;
          color:  #353535;
          font-size: 35.98px;
          font-weight: 400;
          text-align: center;
          width: 320px;
          margin: 0 auto 22px;
        }
        .slider__img_description {
          font-family: 'Open Sans', sans-serif;
          color:  #9fa3a7;
          font-size: 17.99px;
          font-weight: 400;
          line-height: 23.987px;
          text-align: center;
          margin-bottom: 76px;
          padding: 10px
        }
        .slider__img-right {
          color: #fec730;
        }
        .slider__img_right {
          background-color:  #8f77bc;
          width: 350px;
        }
        .slider__img_left {
          width:350px;
        }
        .slider__img_title-right {
          color: #fff
        }
        .slider__img_description-right {
          color: #fff
        }
        .bonus__slider_video {
          display: flex
        }
        .bonus__slider_dots {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          width: 50px;
          padding-bottom: 122px;
          align-items: center;
        }
          .bonus__slider_dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 3px solid #9fa3a7;
            margin:  0 5px;
            cursor: pointer;
          }
        .design__img {
          margin-top: 100px
        }
        .n {
          display: none;
        }
        .bonus__slider_imgg {
          display: none
        }

        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

@media screen and (max-width: 1440px){
  .bonus__slider {
    width: 100%;
  }
}
@media screen and (max-width: 1070px){
  .bonus__slider_btn,
  .bonus__slider_dots {
    display: none;
  }
  .bonus__small_btns {
    display: flex;
    padding-bottom: 120px
  }
  .bonus__slider {
    justify-content: center;
  }
}

@media screen and (max-width: 767px){
  .bonus__slider_img {
    width: 100%;
  }
  .slider__img_right {
    display: none
  }
  .slider__img_left {
    width: 335px
  }
  .bonus__description br {
    display: none !important;
  }
  .bonus__small_btns{
  padding-bottom: 120px;
  }
  .slider__img_description br {
    display: none;
  }

}
@media screen and (max-width: 450px){
  .n {
    display: block !important;
  }
  .bonu__slider {
    padding: 0 20px
  }
  .bonus__video_slider {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px){
  .bonus__slides {
    margin: 0;
  }
  .slider__img_left {
    width: 280px;
  }
  .slider__img_title {
    width: 280px;
  }
}
