.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #e8e9ed
}
.head {
  width: 1440px;
  display: flex;
  align-items: center;
  height: 100px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #e8e9ed
}
.header__logo {
  width: 180px;
  margin-left: 98px;
  cursor: pointer;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: flex-end;
  margin-right: 70px

}
.nav__link {
  margin-right: 30px;
  font-size: 16px;
  color: #9fa3a7;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 2650px){
  body {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1440px){
  body {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .head {
    width: 100%
  }
}

@media screen and (max-width: 1024px){
  .header {
    justify-content: flex-start;
    position: fixed;
  }
  .header__nav {
    display: none
  }
}
@media screen and (max-width: 500px){
  .header__logo {
    margin-left: 20px
  }
  .header__logo img {
    width: 185px;
  }
}
